{% extends "base.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    {% include '@App/Admin/navbar.html.twig' with {'homeTab':'', 'usersTab':'active', 'commentTab':''} %}
    <div class="view view__users--list">
        <div class="container pt-5">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h1>Liste des utilisateurs</h1>
                <a class="btn btn-light" href="{{ path('users.create') }}">
                    <i class="fas fa-user-plus"></i>
                    <span class="ml-2">Ajouter un utilisateur</span>
                </a>
            </div>

            <div class="row">
            {% include '@App/users/gestion_user_list_table.html.twig' with {'vue': 'user'} %}
            </div>
        </div>
    </div>
{% endblock %}