{{ form_start(form_badge) }}
<div class="row form-group" style="margin: 10px; display: flex !important;">
    <div class="col-md-1 col-sm-0"></div>
    <div class="col-md-12 col-sm-12" style="margin-bottom: 10px;">
        {{ form_widget(form_badge.name, {'attr':{'class':'form-control', 'placeholder':'Nom du badge', 'style':'height: 45px;'}}) }}
    </div>
    <div class="col-md-12 col-sm-12" style="margin-bottom: 10px;">
        {{ form_widget(form_badge.img, {'attr':{'class':'form-control', 'style':'height: 45px;'}}) }}
    </div>
    <div class="col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <select name="badge-type" class="form-control" style="height: 45px;">
            <option value="0">Compétence</option>
            <option value="1">Interêt</option>
        </select>
    </div>
    <div class="col-md-12 col-sm-12" style="margin-bottom: 10px;">
        {{ form_widget(form_badge.valider, {'attr':{'class':'btn btn-primary', 'style':'float: right; height: 45px;'}}) }}
    </div>
</div>
{{ form_end(form_badge) }}