<div class="card text-white bg-secondary mb-3" style="height: 100%">
    <div class="card-header" style="height: 65px;">
        <h4 style="display: inline;">Commentaires</h4>
    </div>
    <div class="card-body" id="comment-list" style="display: flex; flex-wrap: wrap; height:100%; overflow-y: auto;">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th> Profil </th>
                    <th> Auteur </th>
                    <th> Texte </th>
                    <th> Crée le </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    {% if not comment.validated %}
                        <tr class="commentaire-line" id="commentaire-{{ comment.id }}">
                            <td class="commentaire-to">{{comment.profil.lastName}} {{comment.profil.firstName}}</td>
                            <td class="commentaire-from">{{comment.postedBy}}</td>
                            <td class="commentaire-text-sliced" onclick="openModalCommentaire({{ comment.id }})">{{ comment.text|length > 70 ? comment.text|slice(0, 70) ~ ' [...]' : comment.text  }}</td>
                            <td class="commentaire-text" style="display: none;">{{ comment.text }}</td>
                            <td class="commentaire-date">{{comment.createdAt | date("m/d/Y H:m:s", "Europe/Paris")}}</td>
                            <td> <a onclick="commentAction('accept', {{ comment.id }})"><button type="button" class="btn btn-success"><i class="fas fa-check"></i></button></a> </td>
                            <td> <a onclick="commentAction('deny', {{ comment.id }})"><button type="button" class="btn btn-danger"><i class="fas fa-times"></i></button></a> </td>
                        </tr>
                    {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal-commentaire" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="comment-modal-body">
                <h5>De : <span id="modal-commentaire-from"></span></h5>
                <h5>Pour : <span id="modal-commentaire-to"></span></h5>
                <h6>Le : <span id="modal-commentaire-date"></span></h6>
                <p>Commentaire : <span id="modal-commentaire-text"></span></p>
            </div>
        </div>
    </div>
</div>

<script>
    function commentAction(action, commentId){
        url = action==='accept' ? '/admin/acceptComment/'+commentId : '/admin/denyComment/'+commentId;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $('#commentaire-'+commentId).remove();
                alertify.success(data.response);
            }
        })
    }

    function openModalCommentaire(commentId){
        $('#modal-commentaire-from').text($('#commentaire-'+commentId).find('.commentaire-from').text())
        $('#modal-commentaire-to').text($('#commentaire-'+commentId).find('.commentaire-to').text())
        $('#modal-commentaire-date').text($('#commentaire-'+commentId).find('.commentaire-date').text())
        $('#modal-commentaire-text').text($('#commentaire-'+commentId).find('.commentaire-text').text())
        $('#modal-commentaire').modal('show')

    }
</script>

<style>
    .table th,
    .table td {
        color: white;
    }
    .commentaire-text-sliced {
        cursor: pointer;
    }
</style>