<template>
  <div class="mb-2 multi-select w-3/4">
    <Badges :selectedRessource="selectedRessource" :windowWidth="windowWidth" @remove="removeRessource"/>
    <multiselect
      :value="optionsProxy"
      :preserve-search="true"
      placeholder=""
      label="name"
      track-by="id"
      select-label=""
      :hide-selected="true"
      :options="sortedArrayBadges"
      :close-on-select="true"
      :clear-on-select="false"
      :multiple="true"
      :showNoResults="false"
      @input="updateSelected"
    >
      <template
        slot="option"
        slot-scope="option"
      >
        <img
          class="badge-picture inline-block"
          :src="`${$options.API_HOST}/api/v1/badges/${option.option.id}/image`"
          alt="logo"
        >
        <span class="inline-block">
          {{ option.option.name }}
        </span>
      </template>
      <template
        slot="selection"
        slot-scope="{ values, search, isOpen }"
      >
        <span
          class="multiselect__single"
          v-if="selectedRessource.length && !isOpen"
        > <b>{{ selectedRessource.length }}</b> <span v-if="selectedRessource.length <= 1">filtre sélectionné</span> <span v-if="selectedRessource.length > 1">filtres sélectionnés</span></span>
        <span
          slot="placeholder"
          v-else
        >
          Séléctionner un filtre
        </span>
        <span slot="placeholder" v-else> Séléctionner un filtre </span>
      </template>
    </multiselect>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import Badges from '@/components/BadgesFiltersCard'

export default {
  API_HOST: process.env.API_HOST,
  components: { Multiselect, Badges },
  props: {
    badges: {
      type: Array,
      required: true,
      default: []
    }
  },
  data () {
    return {
      value: null,
      options: this.badges,
      selectedRessource: [],
      optionsProxy: [],
      deleteMode: false,
      timeout: null,
      windowWidth: window.innerWidth
    }
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
    changeDeleteMode (isNotMobile) {
      this.deleteMode = !this.deleteMode

      if (!isNotMobile) {
        if (this.deleteMode === true) {
          if (this.timeout)
            clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.deleteMode = false
          }, 2000)
        }
      }
    },
    updateSelected (value) {
      value.forEach(rsc => {
        this.selectedRessource.push(rsc)
        this.options = this.options.filter(badge => badge.id !== rsc.id)
      })
      const ressourcesId = this.selectedRessource.map(e => {
        return e.id
      })
      this.$emit('filterUpdate', ressourcesId)
      this.optionsProxy = []
    },
    removeRessource (ressource) {
      this.options.push(ressource)
      this.selectedRessource = this.selectedRessource.filter(rsc => rsc.id !== ressource.id)
      this.changeDeleteMode()
      const ressourcesId = this.selectedRessource.map(e => {
        return e.id
      })
      this.$emit('filterUpdate', ressourcesId)
    }
  },
  computed: {
    sortedArrayBadges () {
      return this.options.sort((a, b) => {
        var nameA = a.name.toLowerCase(), nameB = b.name.toLowerCase();
        if (nameA < nameB) //sort string ascending
          return -1;
        if (nameA > nameB)
          return 1;
        return 0; //default return value (no sorting)
      });
    },
    width () {
      return window.width
    }
  },
  mounted () {
    window.onresize = () => {
      this.windowWidth = window.innerWidth
    }
  }
}
</script>

<style lang="postcss" scoped>

.badge-picture {
  max-width: 48px;
}

.multi-select {
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 640px) {
  .multi-select {
    width: 75%;
  }
}
</style>

